Source: stx-netapp-storage-helm
Section: libs
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 build-info,
 netapp-trident-helm,
 netapp-trident-provisioner-helm,
 python3-k8sapp-netapp-storage-wheels
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: stx-netapp-storage-helm
Section: libs
Architecture: any
Depends: ${misc:Depends}
Description: StarlingX NetApp Storage FluxCD Helm Charts
 This package contains FluxCD manifests for the NetApp Storage
 application.
